<div class="container">
    <div class="row">
        <div class="col">
            <img class="mt-5" width="100%" src="{{data.image}}" alt="{{data.image}}">
        </div>
        <div class="col" style="font-size: 30px;">
            <div class="mt-5">
                <p><strong>[{{data.pid}}] {{data.pro_name}}</strong></p>
                <hr style="background-color: black;">
            </div>
            <div style="font-size: 20px;">
                <p>Giá: {{data.price}}</p>
            </div>
        </div>
    </div>
</div>