<div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
        <nav class="s-sidebar__nav">
            <ul class="ml-2">
                <li>
                    <a class="s-sidebar__nav-link" href="/home">
                        <i class="fa fa-home" aria-hidden="true"></i><em>Home</em>
                    </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="/admin/dashboard">
                        <i class="fa fa-tachometer" aria-hidden="true"></i><em>Dashboard</em>
                    </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="/admin/add-product">
                        <i class="fa fa-plus"></i><em>Thêm Sản Phẩm</em>
                    </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="/admin/list-product">
                        <i class="fa fa-list"></i><em>Danh Sách Sản Phẩm</em>
                    </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="/admin/list-users">
                        <i class="fa fa-list"></i><em>Danh Sách Nguoi Dung</em>
                    </a>
                </li>
                <li>
                    <a class="s-sidebar__nav-link" href="/admin/list-cart">
                        <i class="fa fa-plus"></i><em>Danh sách đơn hàng</em>
                    </a>
                </li>
                <li>
                    <a style="text-align: center;" class="s-sidebar__nav-link" href="/users/logout">
                        <em>Hi, {{username}}</em><i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Content -->
    <div class="s-layout__content">
        <h1 style="text-align:center;" class="mt-3 mb-5">Danh Sách Người Dùng</h1>
        <form style="width: 300px; margin-left:auto;" action="/admin/search" method="get">
            <div class="form-group has-search">
                <span class="fa fa-search form-control-feedback"></span>
                <input id="search" name="user" type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <div style="height:500px;width:100%;border:0.5px solid #4e4e4e;font:16px Arial, Serif;overflow:auto;">
            <table class="table ml-3 mr-3">
                <thead>
                    <tr>
                        <th scope="col">Tên Đăng Nhập</th>
                        <th scope="col">Email</th>
                        <th scope="col">SĐT</th>
                        <th scope="col">Level</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each listUsers}}
                    <tr>
                        <th scope="row">{{username}}</th>
                        {{!-- <td>
                            <img style="width: 35px; height:35px;" src="{{image}}" alt="{{image}}">
                            {{pro_name}}
                        </td> --}}
                        <td>{{email}}</td>
                        <td>
                            <span>{{phone}}</span>
                        </td>
                        <td>
                            <span class="btn btn-primary" style="width: 90px;">{{level}}</span>
                        </td>

                        <td>
                            {{{status}}}
                        </td>

                        <td style="width: 120px;">
                            <button class="btn btn-danger btn-delete" value="[{{pid}}] {{pro_name}}" type="button"
                                data-toggle="modal" data-target="#exampleModal"><i class="fa fa-trash"></i></button>


                            <a href="/admin/edit-product" class="btn btn-success"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                    <!-- Modal Start-->
                    {{!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Bạn Có Muốn Xoá Sản
                                        Phẩm ?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Sản Phẩm <strong class="text_pro_name"> </strong> Sẽ Được Xoá Và
                                    Không Thể Hoàn Tác !
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Huỷ
                                    </button>
                                    <button class="btn btn-danger">
                                        <a href="/admin/delete-product/{{id}}" class="text-decoration-none">Xoá</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> --}}
                    {{!-- Modal End --}}

                    {{/each}}
                    {{#if error}}
                    <div id="error" style="width: 400px; margin:auto;" class="mt-5 alert alert-danger text-center">
                        {{error}}
                    </div>
                    {{/if}}
                    {{#if success}}
                    <div id="success" style="width: 400px; margin:auto;" class="mt-5 alert alert-success text-center">
                        {{success}}</div>
                    {{/if}}
                </tbody>
            </table>
        </div>

        {{!-- <h1 class="ml-5 mt-5">Total: &nbsp {{totalPrice}} </h1> --}}
    </div>
</div>
<div class="wrapper">
    <div class="loader">

    </div>

    <div class="logo">

    </div>
</div>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.wrapper').fadeOut();
        }, 500)

        $('.btn-delete').click(function () {
            var btn_delete = $(this).val();
            $(".text_pro_name").html(btn_delete);
        });
    })
</script>