<div class="s-layout__content">
    <table class="table ml-3 mr-3">
        <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Sản phẩm</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Giá</th>
                <th scope="col">Email</th>
                <th scope="col">Trạng thái đơn hàng</th>
            </tr>
        </thead>
        <tbody>
            {{#each cartList}}
            <tr>
                <th scope="row">{{pid}}</th>
                <td>
                    <img style="width: 35px; height:35px;" src="{{image}}" alt="{{image}}">
                    <a href="/product/{{slug}}">{{pro_name}}</a>
                </td>
                <td>
                    <span>{{amount}}</span>
                </td>
                <td>{{price}}</td>
                <td>{{email}}</td>

                <td>
                    {{{status}}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>